<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbURC" connectionString="Server=192.168.4.249;Database=urc-is;User Id=root;Password=root;" />
    <add name="DbCICT" connectionString="Data Source=192.168.1.12;Initial Catalog=SIS;User ID=urc;Password=C+ax0l8ic_Gy#qN;" />
  </connectionStrings>
</configuration>